node_modules# WebStorm project-specific files
.idea/

# JavaScript dependencies
node_modules/

# Build directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs and reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage reports
coverage/

# VS Code settings (if you happen to open the project in VS Code)
.vscode/

# Environment variables and secrets
.env
.env.*.local